# Compose file for production.

version: "3.1"

services:
  app:
    container_name: sniper_aep
    image: snipe/snipe-it:${APP_VERSION:-latest}
    restart: always
    volumes:
      - storage:/var/lib/snipeit
    ports:
      - "${APP_PORT:-8080}:80"
    depends_on:
      db:
        condition: service_healthy
        restart: true
    env_file:
      - .env

  db:
    container_name: sniper_aep_db
    image: mariadb:11.4.7
    restart: always
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    healthcheck:
      # https://mariadb.com/kb/en/using-healthcheck-sh/#compose-file-example
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      timeout: 1s
      retries: 5
